@charset "UTF-8";
@font-face {
    font-family: 'marvel2';
    src: url(fontes/marvel2.otf);}

@font-face {
    font-family: 'marvel1';
    src: url(fontes/marvel1.ttf);}
*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;}

:root {
    --cor01:#FC2238;
    --cor02:#CD0316;
    --cor03:#7B0101;
    --cor04:#630000;}

body{ 
    background-color: black;}

header { 
    background-image: radial-gradient(circle, var(--cor02) , var(--cor03));}

header > h1{
    font-family: 'marvel1';
    text-transform: uppercase;
    font-size: 4em;
    font-weight: 400;
    text-align: center;
    color: white;
    padding-top: 10px;
    text-shadow: 3px 3px 7px #630000;}   
    
header > h1.titulo {
    margin: 0px;
    padding: 0px;}

header > a#inicio { 
    display: block;
    margin: 0px;
    padding: 0px;
    font-family: 'marvel1';
    text-transform: uppercase;
    font-size: 4em;
    font-weight: 400;
    text-align: center;
    color: white;
    text-shadow: 3px 3px 7px #630000;}

header > h2{ 
    font-family: 'marvel2';
    font-variant: small-caps;
    font-size: 1.5em;
    font-weight: lighter;
    text-align: center;
    color: black;
    padding-bottom: 10px;
    margin-bottom: 10px;}  

span {
    display: block;
    width: 96.5vw;
    background-image: radial-gradient(circle, var(--cor02) , var(--cor03));
    color: black;
    text-align: center;
    margin: auto;}

#burger {
    cursor: pointer;}
    
menu {
    display: none;}

main > menu > ul {
    text-align: center;
    margin-top: 2px;
    padding-top: 0px;}

main > menu > ul > li {
    display: block;
    background-color: var(--cor02);
    margin: auto;
    margin-top: 2px;
    border-radius: 3px;
    width: 200px;
    height: 38.4px;} 

main > menu > ul > li > a {
    font-family: 'marvel2';
    color:black;
    font-size: 1.2em;
    line-height: 2em;}

main > menu > ul > li:hover {
    background-color: var(--cor04);
    width: 200px;
    height: 38.4px;}

main > menu > ul > li > a:hover {
    display: block;
    font-family: 'marvel1';
    color: white;
    font-variant: small-caps;
    font-size: 1.4em;
    line-height: 2em;}

main > a > img {
    display: block;
    width: 90%;
    margin: 10px auto 20px auto;}

footer > p {
    display: inline-block;
    float: left;
    color: var(--cor03);
    font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
    margin: 20px;}

footer > a {
    display: inline-block;
    float: right;
    color: var(--cor03);
    margin: 20px;
    font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
}
