body{
    background-color: black;
    font-family:'Arial Narrow Bold', sans-serif;
    color: white;
    text-decoration: none;}
    
h1{
    color: red;
    text-align: center;}  

h2{
    color: white;}