@charset "UTF-8";
@font-face {
    font-family: 'marvel2';
    src: url(fontes/marvel2.otf);}

@font-face {
    font-family: 'marvel1';
    src: url(fontes/marvel1.ttf);}
*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;}

:root {
    --cor01:#FC2238;
    --cor02:#CD0316;
    --cor03:#7B0101;
    --cor04:#630000;}

header > h1{
    font-size: 6em;
    font-weight: 400;
    padding-top: 20px;}   

header > a#inicio {
    font-size: 6em;
    font-weight: 400;}

header > h2{ 
    font-size: 2em;
    padding-bottom: 30px;
    margin-bottom: 50px;}  

#burger{
    display: none;}

main > menu > ul {
    text-align: center;
    margin-top: 0px;
    padding-top: 0px;}

main > menu > ul > li {
    display: inline-block;
    background-color: var(--cor02);
    margin: 8px;
    padding: 10px;
    border-radius: 5px;
    width: 150px;} 

main > menu > ul > li > a {
    font-family: 'marvel2';
    color:black;
    font-size: 1.3em;
    
    padding: 15px;}

main > menu > ul > li:hover {
    background-color: var(--cor04);
    width: 170px;
    font-size: larger;
    transform: translate(-5px, -5px);}

main > menu > ul > li > a:hover {
    font-family: 'marvel1';
    color: white;
    font-variant: small-caps;
    font-size: 1.5em;}

main > a > img {
    width: 80%;}

footer > p {
    color: var(--cor04);
    margin: 15px;
    padding-left: 50px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

